<ion-header>
  <ion-toolbar color="primary">
    <ion-title text-center>
      Lista de tarefas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>

    <ion-row justify-content-center>
      <ion-col align-self-center size="10">
        <form [formGroup]="tarefaFormulario" (submit)="cadastrarTarefa()">
          <ion-item>
            <label slot="end">
              <ion-icon name="add"></ion-icon>
            </label>
            <ion-input placeholder="Adicione mais tarefas" formControlName="nome"></ion-input>
          </ion-item>
        </form>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-list lines="none">
          <ion-item *ngFor="let tarefa of tarefas">
            <ion-label>{{ tarefa.nome }}</ion-label>
            <ion-buttons slot="end">
              <ion-button color="danger" (click)="deletarTarefa(tarefa.id)">
                <ion-icon name="close"></ion-icon>
              </ion-button>
              <ion-button color="success" (click)="tarefaCompleta(tarefa)">
                <ion-icon name="checkmark"></ion-icon>
              </ion-button>
            </ion-buttons>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>
