<ion-header>
  <ion-toolbar color="primary">
    <ion-title text-center>
      Lista de tarefas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content> 
  <ion-grid no-padding>
    <ion-row>
      <ion-col no-padding>
        <ion-list no-padding>
          <ion-item *ngFor="let tarefa of tarefas" no-padding>
            <ion-label>{{ tarefa.nome }} <p><small>{{ tarefa.prioridade }}</small></p></ion-label>
            <ion-icon name="more" (click)="mostrarOpcoes(tarefa.id)"></ion-icon>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>

    
  </ion-grid>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="abrirModal()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
